# The top level settings are used as module
# and base configuration.
syslog_fix_perms: root:wheel

# A set of users which may be applied and/or used by various modules
# when a 'default' entry is found it will reference the 'default_user'
# from the distro configuration specified below
users:
  - default

# If this is set, 'root' will not be able to ssh in and they
# will get a message to login instead as the default $user
disable_root: true

# This will cause the set+update hostname module to not operate (if true)
preserve_hostname: false
manage_etc_hosts: true

# If you use datasource_list array, keep array items in a single line.
# If you use multi line array, ds-identify script won't read array items.
# Example datasource config
# datasource:
#   Ec2:
#     metadata_urls: [ 'blah.com' ]
#     timeout: 5 # (defaults to 50 seconds)
#     max_wait: 10 # (defaults to 120 seconds)

write_files:
 - path: /etc/ssh/sshd_config
   content: |
      Include /etc/ssh/sshd_config.d/*.conf
      PermitRootLogin no
      KbdInteractiveAuthentication no
      UsePAM yes
      PrintMotd yes
      Subsystem       sftp    /usr/libexec/sftp-server
      PasswordAuthentication yes
      ChallengeResponseAuthentication no
      PubkeyAuthentication yes
      AuthorizedKeysFile      .ssh/authorized_keys

# The modules that run in the 'init' stage
cloud_init_modules:
  - seed_random
  - bootcmd
  - write_files
  - growpart
  - resizefs
  - set_hostname
  - update_hostname
  - update_etc_hosts
  - ca_certs
  - rsyslog
  - users_groups
  - ssh

# The modules that run in the 'config' stage
cloud_config_modules:
  - ssh_import_id
  - keyboard
  - locale
  - set_passwords
  - ntp
  - timezone
  - disable_ec2_metadata
  - runcmd

# The modules that run in the 'final' stage
cloud_final_modules:
  - package_update_upgrade_install
  - write_files_deferred
  - puppet
  - chef
  - ansible
  - mcollective
  - salt_minion
  - reset_rmc
  - scripts_vendor
  - scripts_per_once
  - scripts_per_boot
  - scripts_per_instance
  - scripts_user
  - ssh_authkey_fingerprints
  - keys_to_console
  - install_hotplug
  - phone_home
  - final_message
  - power_state_change

# System and/or distro specific settings
# (not accessible to handlers/transforms)
system_info:
  # This will affect which distro class gets used
  distro: freebsd
  # Default user name + that default users groups (if added/used)
  default_user:
    name: freebsd
    lock_passwd: True
    gecos: FreeBSD
    groups: [wheel]
    # ssh_authorized_keys:
    #   - ssh-rsa <your-public-key>
    doas:
      - permit nopass freebsd
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/tcsh
  network:
    renderers: ['freebsd']
  paths:
    run_dir: /var/run/cloud-init/